{% extends "base_bootstrap.html" %}
{% load static %}

{% block content %}
<h1 class = 'p-4 text-center'>COVID19 World Cases Today.</h1>

<div class="jumbotron m-3">
    <div class = 'm-2'>
        <form class="text-center mx-auto" method="get">
            <div class="form-row align-items-center">
                <div class="col">
                    {% if not select or select == '1'%}
                    <input class="form-check-input" type="radio" name="selection" id="inlineRadio1" value=1 checked>
                    {% else %}
                    <input class="form-check-input" type="radio" name="selection" id="inlineRadio1" value=1>
                    {% endif %}
                    <label class="form-check-label" for="inlineRadio1">Confirmed</label>
                </div>
                <div class="col">
                    {% if select == '2'%}
                    <input class="form-check-input" type="radio" name="selection" id="inlineRadio2" value=2 checked>
                    {% else %}
                    <input class="form-check-input" type="radio" name="selection" id="inlineRadio2" value=2>
                    {% endif %}
                    <label class="form-check-label" for="inlineRadio2">Deaths</label>
                </div>
                <div class="col">
                    {% if select == '3'%}
                    <input class="form-check-input" type="radio" name="selection" id="inlineRadio3" value=3 checked>
                    {% else %}
                    <input class="form-check-input" type="radio" name="selection" id="inlineRadio3" value=3>
                    {% endif %}
                    <label class="form-check-label" for="inlineRadio3">Recovered</label>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </form>
    </div>
    {% if graph %}
    {% autoescape off %}
    {{ graph }}
    {% endautoescape %}
    {% endif %}
</div>


{% endblock %}
