{% extends "base_bootstrap.html" %}
{% load static %}

{% block content %}
<h1 class = 'p-4 text-center'>COVID19 World Cases Today.</h1>
<div class = 'mx-auto'>
    <form class="text-center mx-auto" method="get">
        <div class="form-row align-items-center">
            <div class="col">
                <input class="form-check-input" type="radio" name="selection" id="inlineRadio1" value="confirmed">
                <label class="form-check-label" for="inlineRadio1">Confirmed</label>
            </div>
            <div class="col">
                <input class="form-check-input" type="radio" name="selection" id="inlineRadio2" value="deaths">
                <label class="form-check-label" for="inlineRadio2">Deaths</label>
            </div>
            <div class="col">
                <input class="form-check-input" type="radio" name="selection" id="inlineRadio3" value="recovered">
                <label class="form-check-label" for="inlineRadio3">Recovered</label>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </form>
</div>
<div class = 'mx-auto'>
    {% if graph %}
    {% autoescape off %}
    {{ graph }}
    {% endautoescape %}
    {% endif %}
</div>


{% endblock %}
