{% extends "base_bootstrap.html" %}
{% load static %}

{% block content %}
<div>
    <h1 class = 'p-4 text-center'>COVID19 US County Cases Today.</h1>
</div>

<div class="m-3 text-center">
    <form class="text-center mx-auto" method="get">
    <div class="form-row align-items-center">
        <div class="col">
        <select class="form-control text-center" id="states_selection" name="state">
            {% for state in states %}
            <option>{{state}}</option>
            {% endfor %}
        </select>
        </div>
        <div class="col">
            <select class="form-control text-center" id="option_selection" name="option">
                {% for option in options %}
                <option>{{option}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <select class="form-control text-center" id="num_selection" name="num">
                {% for num in nums %}
                <option>{{num}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
</div>

<div>
    {% if graph %}
    {% autoescape off %}
    {{ graph }}
    {% endautoescape %}
    {% endif %}
</div>


{% endblock %}
